.box {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
 }

* {
   font-family: 'Raleway', sans-serif;
}

a {
   text-decoration: none;
   color: black;
}

/* ---------------- Header ---------------- */

header {
   display: flex;
   justify-content: space-between;
   margin: 0px 50px 50px 50px;
}

#logo {
   padding: 50px 10px 0 10px;
   width: 120px;
   height: 60px;
}

header ul {
   list-style-type: none;
   display: flex;
   margin: 0;
}

header li {
   text-decoration: none;
   padding: 50px 20px 10px 20px;
}

header a {
   text-decoration: none;
   color: black;
}

header li:hover {
   border-top: solid 3px #0065FF;
   padding: 47px 20px 10px 20px;
}

header a:hover {
   color: #0065FF;
}


/* ---------------- Main ---------------- */

main {
   margin: 0px 50px 0px 50px;
}


/* Titres sections */

h2 {
   margin: 0 0 10px 0;
   font-size: 24px;
}


/* ---------------- Section recherche ---------------- */

#search h1 {
   font-size: 24px;
}

#search p {
   font-size: 16px;
}


/* Barre de recherche */

#input {
   display: flex;
   flex-direction: row;
   height: 45px;
   align-items: center;
   margin: 15px 0;
}

#input i {
   width: 12px;
   padding: 15px 15px 15px 18px;
   background-color: #F2F2F2;
   border-radius: 15px 0 0 15px;
}

form {
   display: flex;
}

#search-area {
   width: 230px;
   height: 44px;
   border: solid 1px #F2F2F2;
}

input {
   font-weight: 700;
   padding: 0 0 0 20px;
}

#search-button {
   height: 46px;
   width: 120px;
   background-color:#0065FF;
   color: white;
   font-weight: 600;
   border-radius: 0 15px 15px 0;
   border: solid 1px #0065FF;
   padding: 0 15px;
   margin-top: 16px;
   cursor: pointer;
}


/* Filtres */

#filters {
   display: flex;
   align-items: center;
   font-weight: 700;
}

#filters ul {
   display: flex;
   justify-content: space-between;
   width: 100%;
   max-width: 900px;
   list-style-type: none;
}

#filters li {
   border: solid 2px #E4E4E4;
   border-radius: 28px;
   padding: 0 20px 0 8px;
   max-height: 43px;
}

#filters i {
   color: #0065FF;
   background-color: #DEEBFF;
   font-size: 17px;
   text-align: center;
   vertical-align: middle;
   padding: 15px;
   border-radius: 30px;
   position: relative;
   right: 10px;
   bottom: 2px;
}

#filters a {
   text-decoration: none;
   color: black;
}

#filters li:hover {
   border: solid 2px #DEEBFF;
}

#filters a:hover {
   box-shadow:0 0 5px 0 #0065FF;
   background-color: #DEEBFF;
   border-radius: 28px;
}


/* Point info */

#info i {
   color: #0065FF;
   font-size: 11px;
   font-weight: bold;
   padding: 3px 7px;
   margin: 0 10px 30px 0;
   border: solid 2px #E4E4E4;
   border-radius: 50px;
}


/* ---------------- Section hébergement ---------------- */

#lodging {
   display: flex;
   justify-content: space-between;
   max-width: 2400px;
}

strong {
   text-decoration: none;
   font-weight: 700;
}

.ticked-star {
   color: #0065FF;
}

.unticked-star {
   color: #CFCFCF;
}


/* Cartes hébergement */

#lodging-panel {
   display: flex;
   flex-direction: column;
   width: 65%;
   max-width: 1640px;
   background-color: #F2F2F2;
   border-radius: 20px;
   margin: 0 20px 0 0;
   padding: 40px 40px 0 40px;
}

#lodging-cards {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
}

#lodging-cards a {
   width: 30%;
   max-width: 420px;
   height: 200px;
   margin: 10px 0;
}

#lodging-panel figure {
   background-color: white;
   margin: 10px 0;
   padding: 4px;
   text-align: center;
   width: 100%;
   height: 200px;
   border-radius: 20px;
   box-shadow: 0 0 5px 0 #E4E4E4;
}

#lodging-cards img {
   width: 100%;
   height: 60%;
   object-fit: cover;
   border-radius: 15px 15px 0 0;
}

#lodging-panel figcaption {
   text-align: left;
   font-weight: 700;
   font-size: 16px;
   margin: 0;
   padding: 1% 10px;
}

#lodging-panel p {
   text-align: left;
   font-size: 14px;
   margin: 0;
   padding: 1% 10px;
}

#lodging-cards .ratings {
   text-align: left;
   font-size: 11px;
   margin: 0;
   padding: 1% 10px;
}

/* Afficher plus */

#lodging-panel div + p {
   font-size: 18px;
   font-weight: 700;
   margin: 3% 0 5% 0;
}


/* ---------------- Section populaires ---------------- */

#popular-panel .fa-chart-line {
   font-size: 20px;
   text-align: right;
   position: relative;
   bottom: 36px;
}

/* Cartes populaires */

#popular-panel {
   display: flex;
   flex-direction: column;
   width: 25%;
   max-width: 680px;
   margin: 0 0 0 20px;
   background-color: #F2F2F2;
   border-radius: 20px;
   padding: 40px 40px 0 40px;
}

#popular-panel figure {
   display: flex;
   flex-direction: row;
   background-color: white;
   margin: 10px 0;
   padding: 4px;
   text-align: center;
   width: 100%;
   max-width: 530px;
   height: 200px;
   max-height: 135.55px;
   border-radius: 20px;
   box-shadow: 0 0 5px 0 #E4E4E4;
}

#popular-panel img {
   border-radius: 15px 0 0 15px;
   width: 40%;
   object-fit: cover;
   max-height: 135.55px;
}

.popular-description {
   display: flex;
   flex-direction: column;
   text-align: left;
   margin: 1% 5% 1% 5%;
   width: 60%;
}

.popular-description figcaption {
   margin: 3% 0 1% 0;
   font-size: 16px;
   font-weight: 700;
}

.popular-description p {
   margin: 2% 0;
   font-size: 14px;
}

#popular-panel .ratings {
   text-align: left;
   color: #0065FF;
   font-size: 11px;
   margin-top: auto;
   margin-bottom: 3%;
   padding: 2px 0;
}


/* ---------------- Section activités ---------------- */

#activities {
   width: 100%;
   max-width: 2400px;
   margin: 20px 0 50px 0;
}

#activities h2 {
   margin: 50px 0 20px 0;
}

#activity-cards {
   display: flex;
   justify-content: space-between;
   max-height: 500px;
}

#activity-cards figure {
   width: 100%;
   margin: 0;
   border-radius: 20px;
   box-shadow: 0 0 10px 0 #E4E4E4;
}

#activity-cards img {
   width: 100%;
   object-fit: cover;
   border-radius: 20px 20px 0 0;
}

#activity-cards figcaption {
   height: 40px;
   padding: 10px 15px;
   font-size: 14px;
   font-weight: 700;
}


/* Colonne 1 */

#activity-first-column {
   width: 22%;
   max-width: 400px;
}

#activity-first-column figure {
   height: 100%;
}

#activity-first-column img {
   height: 454px;
}


/* Colonne 2 */

#activity-second-column {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 22%;
   max-width: 400px;
}

#activity-second-column figure:first-child {
   height: 100%;
}

#activity-second-column a:first-child {
   height: 55%;
}

#pomegues img {
   height: 228px;
}

#activity-second-column figure:last-child {
   height: 100%;
}

#activity-second-column a:last-child {
   height: 35%;
}

#frioul img {
   height: 129px;
}


/* Colonne 3 */

#activity-third-column {
   width: 22%;
   max-width: 400px;
}

#activity-third-column figure {
   height: 100%;
}

#activity-third-column img {
   height: 454px;
}


/* Colonne 4 */

#activity-fourth-column {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 22%;
   max-width: 400px;
}

#activity-fourth-column figure:first-child {
   height: 100%;
}

#activity-fourth-column a:first-child {
   height: 35%;
}

#garde img {
   height: 130px;
   object-position: 0 5%;
}

#activity-fourth-column figure:last-child {
   height: 100%;
}

#activity-fourth-column a:last-child {
   height: 55%;
}

#longchamp img {
   height: 228px;
}


/* ---------------- Footer ---------------- */

footer {
   background-color: #F2F2F2;
}

#global-footer {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   max-width: 1400px;
}

footer h2 {
   font-size: 16px;
}

footer ul {
   list-style-type: none;
   padding: 0;
}

footer li {
   text-align: left;
   margin: 0 0 10px 0;
}

.footer-lists {
   margin: 40px 5% 40px 40px;
}