/* -------------- Plan ------------------- 
   Header
   Main
      Titres sections
   Section recherche
      Barre de recherche
      Filtres
      Point info
   Section hébergement
      Cartes hébergement
      Afficher plus
   Section populaires
      Cartes populaires
   Section activités
      Colonne 1
      Colonne 2
      Colonne 3
      Colonne 4
   Footer
---------------------------------------- */

.box {
    box-sizing: border-box; /* Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
 }

* {
   font-family: 'Raleway', sans-serif;
}

a {
   text-decoration: none;
   color: black;
}

body {
   min-width: 320px;
}


/* ---------------- Header ---------------------------------------- */

header {
   display: flex;
   justify-content: space-between;
   margin: 0px 50px 50px 50px;
}

header p {
   margin: 0;
}

#logo {
   padding: 50px 10px 0 10px;
   width: 120px;
   height: 60px;
}

header ul {
   list-style-type: none;
   display: flex;
   margin: 0;
}

header li {
   text-decoration: none;
   padding: 50px 20px 10px 20px;
}

header a {
   text-decoration: none;
   color: black;
   width: 100%;
   display: block;
   padding: 10px 0;
   height: 100%;
}

header li:hover {
   border-top: solid 3px #0065FF;
   padding: 47px 20px 10px 20px;
}

header a:hover {
   color: #0065FF;
}

@media all and (max-width: 768px) {
   header {
      flex-direction: column;
      margin: 0;
   }

   header p {
      text-align: center;
   }

   #logo {
      padding-top: 20px;
   }

   header ul {
      width: 100%;
      padding: 0;
      text-align: center;
   }

   header li {
      width: 50%;
      padding: 20px 0 10px;
      border-bottom: solid 4px #F2F2F2;
      margin-bottom: 30px;
   }

   header li:hover {
      padding: 20px 0 10px;
      border-top: none;
      border-bottom: solid 4px #0065FF;
   }
}


/* ---------------- Main --------------------------------------- */

main {
   margin: 0px 50px 0px 50px;
}


/* Titres sections */

h2 {
   margin: 0 0 10px 0;
   font-size: 24px;
}

@media all and (max-width: 768px) {
   main {
      margin: 0;
      width: 100%;
   }
}


/* ---------------- Section recherche -------------------------------- */

#search h1 {
   font-size: 24px;
}

#search p {
   font-size: 16px;
}


/* Barre de recherche */

form {
   display: flex;
   flex-direction: row;
   height: 45px;
   align-items: center;
   margin: 15px 0;
}

#search-button-area {
      height: 46px;
      width: 46px;
      background-color: #F2F2F2;
      border-radius: 15px 0 0 15px;
      border: none;
      font-size: 16px;
      cursor: pointer;
}

#search-button-area:hover {
   background-color: #E4E4E4;
}

#search-area {
   width: 230px;
   height: 45px;
   border: solid 1px #F2F2F2;
}

input {
   font-weight: 700;
   padding: 0 0 0 20px;
}

#search-button-text {
   height: 46px;
   width: 120px;
   background-color:#0065FF;
   color: white;
   font-weight: 600;
   border-radius: 0 15px 15px 0;
   border: solid 1px #0065FF;
   padding: 0 15px;
   cursor: pointer;
}

#search-button-text:hover {
   background-color: #DEEBFF;
   border-color: #DEEBFF;
   color: #0065FF;
}

#search-button-icon {
   display: none;
   height: 46px;
   width: 46px;
   background-color:#0065FF;
   color: white;
   font-weight: 600;
   border-radius: 15px;
   border: solid 1px #0065FF;
   padding: 0 15px;
   cursor: pointer;
   position: relative;
   right: 20px;
}

#search-button-icon:hover {
   background-color: #DEEBFF;
   border-color: #DEEBFF;
   color: #0065FF;
}


/* Filtres */

#filters {
   display: flex;
   align-items: center;
   font-weight: 700;
}

#filters ul {
   display: flex;
   justify-content: space-between;
   width: 100%;
   max-width: 900px;
   list-style-type: none;
}

#filters a {
   display: flex;
   width: 100%;
   height: 100%;
   padding: 0;  /* A garder ? */
   border-radius: 28px;
   align-items: center;
}

#filters li {
   border: solid 2px #E4E4E4;
   border-left: none;
   border-radius: 28px;
   height: 44px;
   padding: 0; /* A garder ? */
}

#filters i {
   color: #0065FF;
   background-color: #DEEBFF;
   font-size: 17px;
   text-align: center;
   vertical-align: middle;
   padding: 13.6px 0;
   width: 44.2px;
   border-radius: 30px;
}

#filters p {
   margin: 0 15px 0 10px;
}

#filters li:hover {
   border: solid 2px #DEEBFF;
   border-left: none;
   box-shadow: 0 0 10px 0 #0065FF;
   background-color: #DEEBFF;
   transform: scale(1.05);
}


/* Point info */

#info {
   display: flex;
   margin: 0 0 30px 0;
}

#info i {
   color: #0065FF;
   font-size: 12px;
   font-weight: bold;
   padding: 4px 8px;
   margin: 0 10px 2px 0;
   border: solid 2px #E4E4E4;
   border-radius: 50px;
   position: relative;
   bottom: 2px;
}

@media all and (max-width: 992px) {
   #filters ul {
      flex-direction: row;
      flex-wrap: wrap;
   }

   #filters li {
      margin: 5px 0;
   }
}

@media all and (max-width: 768px) {
   #search {
      margin: 10px 20px;
   }

   #search-area {
      width: 100%;
   }

   #filters {
      flex-direction: column;
      align-items: baseline;
   }

   #filters p {
      margin-bottom: 0;
   }

   #filters ul {
      padding: 0;
   }

   #search-button-text {
      display: none;
   }

   #search-button-icon {
      display: block;
   }


}


/* ---------------- Section hébergement ----------------------------------- */

#lodging {
   display: flex;
   justify-content: space-between;
   max-width: 2400px;
}

#lodging-panel {
   display: flex;
   flex-direction: column;
   width: 65%;
   max-width: 1640px;
   background-color: #F2F2F2;
   border-radius: 20px;
   margin: 0 20px 0 0;
   padding: 40px 40px 0 40px;
}

span {
   text-decoration: none;
   font-weight: 700;
}

.ticked-star {
   color: #0065FF;
}

.unticked-star {
   color: #CFCFCF;
}

@media all and (max-width: 992px) {
   #lodging {
      flex-direction: column-reverse;
   }

   #lodging-panel {
      width: 90%;
      max-width: none;
   }
}

@media all and (max-width: 768px) {
   #lodging-panel {
      background-color: white;
      width: 100%;
      margin: 50px 0 0 0;
      padding: 0;
   }

   #lodging-panel h2 {
      margin: 0 20px;
   }

   #lodging-cards {
      flex-direction: column;
   }
}


/* Cartes hébergement */

#lodging-cards {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
}

#lodging-cards a {
   width: 30%;
   max-width: 420px;
   height: 200px;
   margin: 10px 0;
}

#lodging-panel figure {
   background-color: white;
   margin: 10px 0;
   padding: 4px;
   text-align: center;
   width: 98%;
   min-width: 148px;
   height: 200px;
   border-radius: 20px;
   box-shadow: 0 0 5px 0 #E4E4E4;
}

#lodging-cards img {
   width: 100%;
   height: 60%;
   object-fit: cover;
   border-radius: 15px 15px 0 0;
}

#lodging-panel figcaption {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 75px;
}

#lodging-panel h3 {
   text-align: left;
   font-weight: 700;
   font-size: 16px;
   margin: 0;
   padding: 5px 10px 0 10px;
}

#lodging-panel p {
   text-align: left;
   font-size: 14px;
   margin: 0;
   padding: 0 10px;
}

#lodging-cards .ratings {
   text-align: left;
   font-size: 11px;
   margin: 0;
   padding: 2px 10px;
}

#lodging-cards figure:hover {
   box-shadow: 0 0 5px 0 #0065FF;
   transform: scale(1.05);
   transition-duration: 0.2s;
}

/* Afficher plus */

#lodging-panel div + p {
   font-size: 18px;
   font-weight: 700;
   margin: 30px 0 20px 0;
   padding: 0;
}

#show-more:hover {
   color: #0065FF; 
}

@media all and (max-width: 992px) {
   #lodging-cards a {
      width: 45%;
      max-width: none;
   }
}

@media all and (max-width: 768px) {
   #lodging-cards {
      flex-direction: column;
      align-items: center;
   }

   #lodging-cards a {
      width: 90%;
      max-width: 480px;
   }

   #lodging-cards figure {
      width: 100%;
      padding: 0;
   }

   #lodging-panel div + p {
      margin: 30px 20px;
   }
}


/* ---------------- Section populaires ----------------------------------- */

#popular-panel {
   display: flex;
   flex-direction: column;
   width: 25%;
   max-width: 680px;
   margin: 0 0 0 20px;
   background-color: #F2F2F2;
   border-radius: 20px;
   padding: 40px;
}

#popular-panel h2 {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

#popular-panel .fa-chart-line {
   font-size: 20px;
   margin-top: 5px;
   margin-left: 10px;
}


/* Cartes populaires */

#popular-panel figure {
   display: flex;
   flex-direction: row;
   background-color: white;
   margin: 10px 0;
   padding: 4px;
   width: 98%;
   max-width: 530px;
   height: 200px;
   max-height: 135.55px;
   border-radius: 20px;
   box-shadow: 0 0 5px 0 #E4E4E4;
}

#popular-panel img {
   border-radius: 15px 0 0 15px;
   width: 40%;
   object-fit: cover;
   max-height: 135.55px;
}

#popular-panel figcaption {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
   text-align: left;
   margin: 0 10px;
   width: 60%;
}

#popular-panel h3 {
   margin: 5px 0;
   font-size: 16px;
   font-weight: 700;
}

#popular-panel p {
   margin: 0;
   font-size: 14px;
}

#popular-panel .ratings {
   text-align: left;
   color: #0065FF;
   font-size: 11px;
   margin-top: auto;
   margin-bottom: 2px;
   padding: 2px 0;
}

#popular-panel figure:hover {
   box-shadow: 0 0 5px 0 #0065FF;
   transform: scale(1.05);
   transition-duration: 0.2s;
}

@media all and (max-width: 992px) {
   #popular-panel {
      width: 90%;
      max-width: none;
      margin: 0 0 10px 0;
   }

   #popular-panel figure, #popular-panel a {
      max-width: 700px;
   }

   #popular-panel figure:hover {
      width: 100%;
      right: 0;
   }
}

@media all and (max-width: 768px) {
   #popular-panel {
      margin: 0;
      padding: 20px 0;
      width: 100%;
      border-radius: 0;
      align-items: center;
   }

   #popular-panel h2 {
      margin: 10px 20px;
      align-self: flex-start;
      width: 90%;
   }

   #popular-panel a {
      width: 90%;
      max-width: 480px;
   }

   #popular-panel figure {
      padding: 4px 0 4px 4px;
      width: 99%;
   }

}


/* ---------------- Section activités --------------------------------------- */

#activities {
   width: 100%;
   max-width: 2400px;
   margin: 20px 0 50px 0;
}

#activities h2 {
   margin: 50px 0 30px 0;
}

#activity-cards {
   display: flex;
   justify-content: space-between;
   max-height: 500px;
}

#activity-cards figure {
   width: 100%;
   margin: 0;
   background-color: white;
   border-radius: 20px;
   box-shadow: 0 0 10px 0 #E4E4E4;
}

#activity-cards img {
   width: 100%;
   object-fit: cover;
   border-radius: 20px 20px 0 0;
}

#activity-cards figcaption {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height: 48px;     
}

#activity-cards h3 {
   height: 40px;
   margin: 0;
   padding: 10px 15px;
   font-size: 14px;
   font-weight: 700;
}

#activity-cards figure:hover {
   box-shadow: 0 0 5px 0 #0065FF;
   transform: scale(1.05);
   transition-duration: 0.2s;
}

@media all and (max-width: 992px) {
   #activity-cards {
      flex-direction: column;
      max-height: none;
   }

   #activity-cards figure {
      height: 300px;
   }
}

@media all and (max-width: 768px) {
   #activities h2 {
      margin: 10px 20px;
   }

   #activity-cards {
      margin: 10px 20px;
      align-items: center;
   }
}


/* Colonne 1 */

#activity-first-column {
   width: 22%;
   max-width: 400px;
}

#activity-first-column figure {
   height: 100%;
}

#activity-first-column img {
   height: 449px;
}

@media all and (max-width: 992px) {
   #activity-first-column {
      width: 100%;
      max-width: none;
      margin: 10px 0;
   }

   #activity-first-column figure {
      height: 300px;
   }

   #activity-first-column img {
      height: 250px;
   }
}

@media all and (max-width: 768px) {   
   #activity-first-column {
      max-width: 480px;
   }
   
   #activity-first-column figure {
      height: 200px;
   }

   #activity-first-column img {
      height: 150px;
   }
}


/* Colonne 2 */

#activity-second-column {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 22%;
   max-width: 400px;
}

#activity-second-column figure:first-child {
   height: 100%;
}

#activity-second-column a:first-child {
   height: 55%;
}

#pomegues img {
   height: 223px;
}

#activity-second-column figure:last-child {
   height: 100%;
}

#activity-second-column a:last-child {
   height: 35%;
}

#frioul img {
   height: 124px;
}

@media all and (max-width: 992px) {
   #activity-second-column {
      flex-direction: row;
      width: 100%;
      max-width: none;
      justify-content: space-between;
   }

   #activity-second-column a:first-child {
      width: 34%;
      height: 300px;
   }

   #activity-second-column a:last-child {
      width: 64%;
      height: 300px;
   }

   #pomegues img, #frioul img {
      height: 250px;
   }
}

@media all and (max-width: 768px) {
   #activity-second-column {
      flex-direction: column;
      max-width: 480px;
   }

   #activity-second-column a:first-child {
      width: 100%;
      height: 200px;
      margin-bottom: 10px;
   }

   #activity-second-column a:last-child {
      width: 100%;
      height: 200px;
   }

   #pomegues img, #frioul img {
      height: 150px;
   }
}


/* Colonne 3 */

#activity-third-column {
   width: 22%;
   max-width: 400px;
}

#activity-third-column figure {
   height: 100%;
}

#activity-third-column img {
   height: 449px;
}

@media all and (max-width: 992px) {
   #activity-third-column {
      width: 100%;
      max-width: none;
      margin: 10px 0;
   }

   #activity-third-column figure {
      height: 300px;
   }

   #activity-third-column img {
      height: 250px;
   }
}

@media all and (max-width: 768px) {
   #activity-third-column {
      max-width: 480px;
   }
   
   #activity-third-column figure {
      height: 200px;
   }

   #activity-third-column img {
      height: 150px;
   }
}


/* Colonne 4 */

#activity-fourth-column {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 22%;
   max-width: 400px;
}

#activity-fourth-column figure:first-child {
   height: 100%;
}

#activity-fourth-column a:first-child {
   height: 35%;
}

#garde img {
   height: 125px;
   object-position: 0 5%;
}

#activity-fourth-column figure:last-child {
   height: 100%;
}

#activity-fourth-column a:last-child {
   height: 55%;
}

#longchamp img {
   height: 223px;
}

@media all and (max-width: 992px) {
   #activity-fourth-column {
      flex-direction: row;
      width: 100%;
      max-width: none;
      justify-content: space-between;
   }

   #activity-fourth-column a:first-child {
      width: 64%;
      height: 300px;
   }

   #activity-fourth-column a:last-child {
      width: 34%;
      height: 300px;
   }

   #garde img, #longchamp img {
      height: 250px;
   }
}

@media all and (max-width: 768px) {
   #activity-fourth-column {
      flex-direction: column;
      max-width: 480px;
   }

   #activity-fourth-column a:first-child {
      width: 100%;
      height: 200px;
      margin-bottom: 10px;
   }

   #activity-fourth-column a:last-child {
      width: 100%;
      height: 200px;
   }

   #garde img, #longchamp img {
      height: 150px;
   }
}


/* ---------------- Footer ------------------------------------------ */

footer {
   background-color: #F2F2F2;
}

#global-footer {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   max-width: 1400px;
}

footer h2 {
   font-size: 16px;
}

footer ul {
   list-style-type: none;
   padding: 0;
}

footer li {
   text-align: left;
   margin: 0 0 10px 0;
}

.footer-lists {
   margin: 50px;
}

footer a:hover {
   color: #0065FF;
}

@media all and (max-width: 768px) {
   footer {
      padding: 40px 0 20px;
   }

   #global-footer {
      flex-direction: column;
   }

   .footer-lists {
      margin: 10px 20px;
   }
}